@import url('header.css');
@import url('footer.css');

body {
    margin: 0;
}

.content {
    padding: 10px;
    margin: 0 auto;
}

button a {
    text-decoration: none;
    color: black;
}

button {
    padding: 0px 10px;
    margin: 2px 0px;
}

.error {
    color: darkred;
}