.container{
    width: fit-content;
    margin: auto;
    padding: 40px 60px;
    border-radius: 15px;
}
.container1{
    width: fit-content;
    margin: 10px auto;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    display:inline-block;
    padding: 4px 12px;
    font-size: 20px;
    /* line-height: 20px; */
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
input[type="radio"]:checked + label {
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;
}
.div-1{
    width: fit-content;
    margin: auto;
}
.info{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 25px;
}
.subdiv-1{
    width: 120px;
    float: left;
    font-weight: normal;
}
form{
    margin: 0;
}
.inputsubdiv-1{
    padding: 10px 0;
}
.colun-1{
    margin-right: 20px;
    float: left;
}

input[type = "text"],input[type = "password"]{
    margin: 0;
    width: 200px;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    font-size: 20px;
}
input[type = "text"]:focus,input[type = "password"]:focus{
    color: red;
    font-weight: bold;
}
input[type = "password"]{
    margin: 0 0 20px 0;
    width: 300px;
}
.button{
    width: 100%;
    display: flex;
}
.button-1{
    margin: auto;
    width: 70%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    background-color: royalblue;
}


